.md-grid {
    max-width: 1600px; 
  }
  
  img[alt=result_img] { width: 500px; }
  
  .md-typeset body {
      font-size: 16px;
  }
  .md-typeset h1 {
      font-size: 28px;
  }
  .md-typeset h2 {
      font-size: 24px;
  }
  .md-typeset h3 {
      font-size: 20px;
  }
  .md-typeset li {
      font-size: 14px;
  }
  .md-typeset code {
      font-size: 12px;
  }